# Ignore some static files and directories.
/.settings
/.project
/.htaccess
/.gitattributes
/.github
/composer.json
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/
/vendor/
/error.php

# Ignore fix module files and directories.
/modules/*
!/modules/faq
!/modules/faq/*
/themes/*
!/themes/admin_default/css/faq.css
!/themes/admin_default/js/faq.js
!/themes/admin_default/images/faq
!/themes/admin_default/images/faq/*
!/themes/admin_default/modules/faq
!/themes/admin_default/modules/faq/*
!/themes/default/css/faq.css
!/themes/default/js/faq.js
!/themes/default/images/faq
!/themes/default/images/faq/*
!/themes/default/modules/faq
!/themes/default/modules/faq/*
