# Ignore some static files and directories.
/.project
/.settings/
/.buildpath
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/
/modules/*
/themes/*

# Ignore fix module files and directories.
!/modules/organs
!/modules/organs/*
!/themes/admin_default/css/organs.css
!/themes/admin_default/js/organs.js
!/themes/admin_default/images/organs
!/themes/admin_default/images/organs/*
!/themes/admin_default/modules/organs
!/themes/admin_default/modules/organs/*
!/themes/default/css/organs.css
!/themes/default/js/organs.js
!/themes/default/images/organs
!/themes/default/images/organs/*
!/themes/default/modules/organs
!/themes/default/modules/organs/*