.sliderwrapper {
	height: 370px;
	overflow: hidden;
}

.sliderwrapper .contentdiv {
	left: 0;
	padding: 5px 5px 5px 10px;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%
}

.sliderwrapper .contentdiv > a {
    display: block;
    height: 250px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-size: cover;
}

.sliderwrapper .contentdiv img {
	height: auto;
	width: 100%;
	display: none!important;
}

.sliderwrapper .contentdiv .ittext {
    margin-top: 7px;
    height: 102px;
    overflow: hidden;
}

.sliderwrapper .contentdiv .ittext h3 {
    max-height: 50px;
    overflow: hidden;
}

#topnews .pagination {
	background: #fff;
	padding: 2px 0;
	text-align: right;
	width: 100%;
	margin: 0;
}

#topnews .pagination a {
	color: #999;
	font-size: 11px;
	font-weight: normal;
	padding: 0 5px
}

#topnews .pagination a:hover, #topnews .pagination a.selected {
	background-color: #ccc;
	color: #333
}

#topnews .pagination a.prev {
	background: url(../images/prev.png) no-repeat 4px 4px;
	width: 6px
}

#topnews .pagination a.next {
	background: url(../images/next.png) no-repeat 4px 4px;
	width: 6px
}