.header-nav {
  background-color: #1f9cf8;
}

.second-nav .bg {
    background: #0083eb;
}

#menusite .menuctwrap {
    border-bottom: 1px #c4def9 solid;
}

#menusite .navbar-default {
    border-bottom: 1px #0083eb solid;
}

#menu-site-default .conner-left {
    background-image: url(../images/menu-left-blue.png);
}

#menu-site-default .conner-right {
    background-image: url(../images/menu-right-blue.png);
}

#menusite .navbar-default .navbar-nav>li>a:hover, #menusite .navbar-default .navbar-nav>li>a:focus, #menusite .navbar-default .navbar-nav>.active>a, #menusite .navbar-default .navbar-nav>.active>a:hover, #menusite .navbar-default .navbar-nav>.active>a:focus, #menusite .navbar-default .navbar-nav>.open>a, #menusite .navbar-default .navbar-nav>.open>a:hover, #menusite .navbar-default .navbar-nav>.open>a:focus {
    background: linear-gradient(to bottom,#82b2dc 0%,#428BCA 100%) !important;
}

#toggleearchbtn {
    border-left: 3px #0256f4 solid;
}

.header-nav a:hover, .user-fix>span>.user:hover, .header-nav a.button:hover, .header-nav a.active, .sitebannertext, #toggleearch>form>button {
    color: #0256f4 !important;
}

.sitemenu-bg {
   border: 1px #3b7cbe solid; 
   background-color: #007fe4;
}

.bg-hot-news-title {
  background: #1f9cf8;
}

.faqopinion .sendfaq a, .faqopinion a.faqitem span, .box-icon-body .titlebox h2, .panel-primary>.panel-heading, .genpage_cute .pagination li a:hover, .genpage_cute .pagination li.active a, .genpage_cute .pagination li:first-child a:hover, .genpage_cute .pagination li.active:first-child a, .genpage_cute .pagination li:last-child a:hover, .genpage_cute .pagination li.active:last-child a, .sitebtntool ul.maintoolbtns li a, .sitebtntool ul.maintoolbtns .sp1 {
  background-color: #1f9cf8;
  border-color: #1d9df8;
}
.footerNav2 .theme-change a, .footerNav2 .bttop a  {
  background-color: #1f9cf8;
}

.footerNav2 .theme-change span, .footerNav2 .theme-change a:hover, .footerNav2 .theme-change span:hover, .footerNav2 .bttop a:hover {
    background-color: #10bbff;
}

.color-view a, .more-news a, .box-icon-body a.more, .news-catbox-single ul li a.more, .news-groups-bigimghome a.more, .news_column.listpage>.panel>.panel-body a.more, .news_column.newsdetailbox a.more {
    color: #1f9cf8 !important;
}

/* Block headline */
#topnews .ui-tabs .ui-tabs-nav li.ui-tabs-active a span span {
    background-color: #10bcff!important;
}

#topnews ul.lastest-news a {
    background-image: url("../images/squared-blue.png")!important;    
}
